<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <section>
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12">
          <div>
            <figure class="bg-img">
              <br />
              <br />
              <div class="has-text-centered">
                <h2 class="title is-3">
                  Work
                </h2>
              </div>
              <br />
              <br />
              <br />
            </figure>
          </div>
          <div class="column is-8 is-offset-2 intro">
            <hr />






          </div>
        <!-- closing column-is-12 -->
        </div>
      <!-- closing columns -->
      </div>
    <!-- closing container -->
    </div>
  <% include ../partials/footer %>
  </section>
  <script type="text/javascript" src="lib/main.js"></script>
</body>
</html>
