<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <section>
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12">
          <div>
            <figure class="bg-img">
              <br />
              <br />
              <div class="has-text-centered">
                <h2 class="title is-3">
                  Projects
                </h2>
              </div>
              <br />
              <br />
              <br />
            </figure>
          </div>
          <div class="column is-8 is-offset-2 intro">
            <hr />
            <div class="columns is-multiline">
              <div class="column is-6">
                <a href="/gottago">
                  <div class="box has-text-centered">
                    <h4 class="title is-4">Gotta Go!</h4>
                    <p>
                      An app for crowdsourcing restroom locations.
                    </p>
                    <br />
                    <br />
                    <p>
                      <strong>Full stack React development, <br /> UI design</strong>
                    </p>
                  </div>
                </a>
              </div>
              <div class="column is-6">
                <a href="/fastco">
                  <div class="box has-text-centered">
                    <h4 class="title is-4">Fast Co. Scraper</h4>
                    <p>
                      An app that scrapes articles from fastcompany.com.
                    </p>
                    <br />
                    <br />
                    <p>
                      <strong>Full stack development</strong>
                    </p>
                  </div>
                </a>
              </div>
              <div class="column is-6">
                <a href="/nyt">
                  <div class="box has-text-centered">
                    <h4 class="title is-4">NYT Article Search</h4>
                    <p>
                      An app for searching the New York Times via their API.
                    </p>
                    <br />
                    <br />
                    <p>
                      <strong>Full stack React development</strong>
                    </p>
                  </div>
                </a>
              </div>
              <div class="column is-6">
                <a href="/wip">
                  <div class="box has-text-centered">
                    <h4 class="title is-4">Spark 2.0</h4>
                    <p>
                      A redesign of Adobe Spark.
                    </p>
                    <br />
                    <br />
                    <p>
                      <strong>Graphic design, <br /> Product management</strong>
                    </p>
                  </div>
                </a>
              </div>
              <div class="column is-6">
                <a href="/wip">
                  <div class="box has-text-centered">
                    <h4 class="title is-4">Info Diet</h4>
                    <p>
                      A UX prototype for an information balanced life.
                    </p>
                    <br />
                    <br />
                    <p>
                      <strong>UX Design, User Research</strong>
                    </p>
                  </div>
                </a>
              </div>
              <div class="column is-6">
                <a href="/games">
                  <div class="box has-text-centered">
                    <h4 class="title is-4">Games are fun!</h4>
                    <p>
                      A collection of fun games
                    </p>
                    <br />
                    <br />
                    <p>
                      <strong>Front end development, <br /> Full stack development</strong>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        <!-- closing column-12 -->
        </div>
      <!-- closing columns-multiline -->
      </div>
    <!-- closing container -->
    </div>
    <% include ../partials/footer %>
  </section>
</body>
</html>
