<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <figure class="wip-bg">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="title is-2">
            This page is being worked on.
          </h2>
          <br />
          <h5 class="subtitle">Check back soon!</h5>
          <br />
          <a href="/" class="button is-dark">Go back home</a>
        <!-- closing container -->
        </div>
      <!-- closing hero-body -->
      </div>
    <% include ../partials/footer %>
    </section>
  </figure>
  <script type="text/javascript" src="lib/main.js"></script>
</body>
</html>
